*{
    font-family: CircularSp,spotify-circular,Helvetica,Arial,sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.spotify-logo{
    margin: 0 100px;
    padding-top: 10px;
}
.spotify-logo img{
    width: 150px;
}
.list-items ul{
    display: flex;
    list-style: none;
    color: white;
    padding-top: 6px;
}
.list-items li{
    margin: 0 10px;
    padding-top: 15px;
}
.list-items li a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.list-items li a:hover{
    color: green;
}
.section-one{
    background-color: rgb(29, 117, 222);
    height: 350px;
}
.section-one-text{
    padding-top: 70px;
    margin: 0 50px;
    color: white;
}
.section-one-text p{
    font-size: 30px;
    padding-top: 15px;
}
.btn-one{
    padding: 15px;
    border-radius: 15px;
    color: white;
    background-color: black;
    border: none;
    transition: 0.5s;
}
.btn-one a{
    text-decoration: none;
    color: white;
}
.btn-two{
    padding: 15px;
    border-radius: 15px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    transition: 0.5s;
}
.btn-one:hover{
    padding: 17px;
    border-radius: 15px;
    color: white;
    background-color: black;
    border: none;
}
.btn-two:hover{
    padding: 17px;
    border-radius: 15px;
    color: white;
    background-color: rgb(18, 88, 174);
    border: 2px solid white;
}
.section-one-text h6{
    font-weight: lighter;
}
.section-two{
    background-color: white;
    justify-content: center;
    height: 400px;
}
.section-two-text{
    text-align: center;
}
.list-items-two{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}
.download img{
    width: 150px;
}
.order img{
    width: 150px;
}
.section-three{
    background-color: whitesmoke;
    height: 900px;
}
.section-three-text{
    text-align: center;
    padding-top: 30px;
}
.images{
    display: flex;
    justify-content: center;
}
.images img{
    width: 30px;
    margin: 0 5px;
}
.containers{
    display: flex;
    padding-top: 50px;
}
.container-one{
    margin: 0 30px;
    white-space: nowrap;
    background-color: white;
    width: 250px;
    box-shadow: 3px 3px 3px 3px rgba(177, 177, 177, 0.75);
    border-radius: 6px;
}
.container-one-p1{
    background-color: rgb(29, 117, 222);
    padding-top: 10px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}
.tick{
    display: flex;
}
.tick img{
    width: 30px;
    height: 30px;
    padding-top: 10px;
}
.container-two{
    margin: 0 10px;
    white-space: nowrap;
    background-color: white;
    width: 250px;
    box-shadow: 3px 3px 3px 3px rgba(177, 177, 177, 0.75);
    border-radius: 6px;
}
.container-one-p2{
    background-color: transparent;
    border: 2px solid rgb(29, 117, 222);
    margin: 10px 10px 10px 10px;
    padding: 5px 0 0 5px;
    border-radius: 5px;
}
.container-three{
    margin: 0 10px;
    white-space: nowrap;
    background-color: white;
    width: 250px;
    box-shadow: 3px 3px 3px 3px rgba(177, 177, 177, 0.75);
    border-radius: 6px;
}
.container-four{
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
    border-radius: 6px;
    box-shadow: 3px 3px 3px 3px rgba(177, 177, 177, 0.75);
    white-space: nowrap;
}
.container-four h1{
    font-size: 25px;
}
.container-four button{
    margin: 0 30px;
    padding: 0px 0px 0px 0px;
}
.btn-nav{
    padding-top: 10px;
    margin: 0 20px;
}
.btn-nav button{
    display: inline-block;
    padding: 10px 28px;
    background:  transparent;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    color: black;
    letter-spacing: 0;
    font-weight: 0;
    transition: 0.5s;
}
.btn-nav button:hover{
    padding: 12px 30px;
    border-radius: 10px;
    color: black;
    background-color: transparent;
    border: 2px solid black;
}
footer{
    background-color: black;
    color: white;
    border-radius: 10px;
}
.list-items-header{
    display: flex;
    margin: 0 150px;
    list-style: none;
    padding: 0px 0 0 0;
}
.footer-img{
    display: flex;
    justify-content: space-between;
}
.footer-img-two img{
    width: 30px;
    padding-top: 10px;
    margin: 0 40px;
}
.footer-img-two{
    margin: 0 800px;
    white-space: nowrap;
}
.footer-img img{
    width: 150px;
    height: 100px;
    padding-top: 10px;
    margin: 0 40px;
}
.list-items-header li{
    list-style: none;
    margin: 5px 0 0 0;
    padding-top: 10px;
}
.About{
    font-weight: bold;
    color: gray;
}
.list-items-header li a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.list-items-header li a:hover{
    color: rgb(0, 162, 0);
}

/* get begins */


.body-get{
    background-color: rgb(62, 62, 62);
}